:root{
  font-family: Inter, system-ui, sans-serif;
  background:#0f0f10;
  color:#e5e5e5;
}

*{
  box-sizing:border-box;
}

body{
  margin:0;
  height:100vh;
  background:#0f0f10;
}

#root{
  height:100vh;
  display:flex;
  justify-content:center;
}

/* scrollbar */

::-webkit-scrollbar{
  width:6px;
}

::-webkit-scrollbar-thumb{
  background:#2a2a2e;
  border-radius:10px;
}